html {
	width:100%;
	height: 100%;
}


header {
	background: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 75%;
    overflow: scroll;
    padding: 2em;
}

.content-wrap {
	background: #fff;
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;    
    padding: 2em;
}

section {
	border-bottom:1px solid #eee;
}

.entry .date {
	color: blue;
	font-size:12px;
}
.entry .title {
	font-weight: bold;
	font-size:15px;
}
.entry .detail {
	font-weight:normal;
	color: #666;
}
.entry .notes {
	font-style: italic;
}
